#map_country {
     height: 520px; 
    /* height: 580px; */
    width: 100%;
    background-color: cornflowerblue;
}

#prepmap {
    height: 520px;
    width: 100%;
    background-color: cornflowerblue;
}

#selectedregion {
    height: 520px;
    width: 100%;
    background-color: cornflowerblue;
}

.modal {
    display: none;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 10px;
    will-change: top, opacity;
}
  