#map_country {
    height: 500px;
    width: 100%;
    background-color: cornflowerblue;
}

#prepmap {
    height: 500px;
    width: 100%;
    background-color: cornflowerblue;
}

#wrapper {
    position: relative;
}

#selectedregion {
    height: 500px;
    width: 100%;
    background-color: cornflowerblue;
}

  