#map_country {
    height: 520px;
    width: 100%;
    background-color: cornflowerblue;
}

#prepmap {
    height: 520px;
    width: 100%;
    background-color: cornflowerblue;
}

#selectedregion {
    height: 520px;
    width: 100%;
    background-color: cornflowerblue;
}

  