
<div class="container overflow">
    <div class="row">
        <div class="col s12 m5 ">
        <h1>My Bookmarks</h1>
            <table class="table highlight">
                <thead>
                    <tr>
                        <th>No. </th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active clickable" ng-repeat="each in con.userBookmarks" ng-click='con.getOneBookmark(each["dive_operator"]["fb_id"])'>
                        <td> {{ $index + 1 }} </td>
                        <td> {{ each["dive_operator"]["name"] }} </td>
                        <td>
                            <i class="icon ion-chevron-right"><i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end md-5 -->
        <div class="col s12 m6 offset-m1 ">
                <div ng-if="!(con.toggleShow)">
                    <h3>
                        Select a bookmark.
                    </h3>
                </div>
                <div ui-view="show" ng-if="con.toggleShow"></div>
        </div>
    </div><!-- close row -->

</div>

