<div>
    <div class="row">
        <div id="selectedregion"></div>

        <!--Modal view -->

        <div>

            <script type="text/ng-template" id="ctry-modal-template.html">
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" ng-click="closeModal('x to close')" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">{{divespotDetails.divespot_name}}</h4>
                            </div>
                            <div>
                                <div class="modal-body align-center" ng-repeat="i in flickrFeed">
                                    <!-- <img src="https://farm{{i.farm}}.staticflickr.com/{{i.server}}/{{i.id}}_{{i.secret}}_q.jpg" alt="picture"> -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" ng-click="explore()" data-dismiss="modal">Explore</button>
                            </div>
                        </div>
                    </div>
                </div>
            </script>



        </div>


        <!-- End Modal -->

    </div>

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    <div class="row" ng-show="ctrl.toggleShow">
        <div class="col s8 offset-s2">
            <div ui-view="show"></div>
            </br>
            <div class="row">
                <div class="button btn btn-info btn-sm" ng-click="ctrl.toShowMap()">
                    Back to map &#8194;
                    <i class="icon ion-chevron-up"></i>
                </div>
            </div>
        </div>
    </div>

    </br>
    </br>
    </br>
    </br>

    <div id="showresult"></div>
</div>