<div>
    <div class="row">

        <div id="map_search">

            <div class="quote-container">
                <icon class="svg-quote"></icon>
            </div>

            <div class="bubbles-movement">
                <div class="bubbles-contain">
                    <ul class="bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <!-- end of bubbles -->

            <div class="row">
                <div class="col s12 m6 l3 offset-l6 search-card">
                    <div class="card teal lighten-1 hoverable">
                        <div class="card-content white-text center-align">
                            <span class="card-title">Choose your destination</span>
                            <div>
                                <a class="teal lighten-5 card-button" ng-click="ctrl.goMap()"><span class="card-button-color">&nbsp Indonesia &nbsp</a></span></br>
                                <a class="teal lighten-5 card-button" ng-click="ctrl.goMap()"><span class="card-button-color">&nbsp Philippines &nbsp</a></span></br>
                                <a class="teal lighten-5 card-button" ng-click="ctrl.goMap()"><span class="card-button-color">&nbsp Malaysia &nbsp</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end of map_search -->

    </div>
</div>