<div class="row">
    <h3>Dive Operator</h3>
    {{ con.object.name }}
</div>

<div class="row">
    <!-- <div class="show-img" style="background-image:url('{{con.object.cover.source}}')">
        </div> -->
    <div ng-if="con.object.cover.source" class="show-img img-responsive">
        <img ng-src="{{con.object.cover.source}}">
    </div>
</div>

<div class="row">
    <h3>Contact</h3>
    {{ con.object.phone ? con.object.phone : "This page has no contact detail." }} </br>
</div>


<div class="row">
    <h3>Description</h3>
    {{ con.object.about ? con.object.about : "This page has no description." }} </br>
</div>


<!-- !(con.isAdded)  -->

<div class="row" ng-if="!(con.isAdded)">
    <button class="btn btn-success" ng-click="con.create()">Add Bookmark
                &#8194; <i class="icon ion-bookmark"></i>
                </button>
</div>


<!-- con.isAdded  -->
<div ng-if="con.isAdded">

    <div class="row">
        <button class="btn btn-info tooltipped" ng-click="con.destroy()">Remove Bookmark
                &#8194; <i class="icon ion-ios-close"></i>
        </button>
    </div>
    <br>

    <div class="show-bookmarks">
        <div class="row">
            <!-- <div class="col s6"> -->
            <h3>My Comment</h3>

            <div ng-if="!(con.isEditing)">
                <div ng-class="{ 'italic': !(con.object.comment) }">
                    {{ con.object.comment ? con.object.comment : "No comment added." }}
                </div>
            </div>

            <!-- <div class="tooltipped" ng-if="!(con.isEditing)">
                <i class="clickable material-icons" ng-click="con.openEdit()">create</i>
                <span class="tooltiptext"> Add comment </span>
            </div> -->

            <div class="tooltip clickable" ng-if="!(con.isEditing)" ng-click="con.openEdit()">
                Add Comment
            </div>

            <div ng-if="con.isEditing" class="input-field">
                <input placeholder="Type here" id="comment" type="text" ng-model="con.object.comment">
            </div>

            <!-- <div class="tooltipped" ng-if="con.isEditing">
                <i class="clickable material-icons" ng-click="con.updateComment()">save</i>
                <span class="tooltiptext">Edit comment</span>
            </div> -->

            <div class="tooltip clickable" ng-if="con.isEditing" ng-click="con.updateComment()">
                Save comment
            </div>
            <br>
            <!-- <div class="tooltipped" ng-if="con.isEditing">
                <i class="clickable material-icons" ng-click="con.cancelEdit()">cancel</i>
                <span class="tooltiptext">Cancel</span>
            </div> -->

            <div class="tooltip clickable" ng-if="con.isEditing" ng-click="con.cancelEdit()">
                Cancel
            </div>

        </div>

        <div class="row">
            <!-- <div class="col s6 offset-s6"> -->
            <div ng-if="con.object.is_visited">
                <h3>Visited</h3>

                <!-- <div class="tooltipped">
                    <i class="clickable material-icons" ng-click="con.updateVisited()">check_box</i>
                    <span class="tooltiptext"> Un-check-in</span>
                </div> -->
                <div class="tooltip clickable" ng-click="con.updateVisited()">
                    Unvisit
                </div>
            </div>


            <div ng-if="!(con.object.is_visited)">
                <h3>Visit me</h3>
                <!-- <div class="tooltipped">
                    <i class="clickable material-icons" ng-click="con.updateVisited()">check_box_outline_blank </i>
                    <span class="tooltiptext">Check in! </span>
                </div> -->
                <div class="tooltip clickable" ng-click="con.updateVisited()">
                    Check in
                </div>
            </div>

        </div><!--- div for row --->
        
    </div>
    <!-- show bookmarks -->

</div>
<!-- isAdded -->