<div class="row">
    <h3>Dive Operator</h3>
    {{ con.object.name }}
</div>

<div class="row">
    <!-- <div class="show-img" style="background-image:url('{{con.object.cover.source}}')">
        </div> -->
    <div ng-if="con.object.cover.source" class="show-img img-responsive">
        <img ng-src="{{con.object.cover.source}}">
    </div>
</div>

<div class="row">
    <h3>Contact</h3>
    {{ con.object.phone ? con.object.phone : "This page has no contact detail." }} </br>
</div>


<div class="row">
    <h3>Description</h3>
    {{ con.object.about ? con.object.about : "This page has no description." }} </br>
</div>


<!-- !(con.isAdded)  -->

<div class="row" ng-if="!(con.isAdded)">
    <button class="btn btn-success" ng-click="con.create()">Add Bookmark
                &#8194; <i class="icon ion-bookmark"></i>
                </button>
</div>


<!-- con.isAdded  -->
<div ng-if="con.isAdded">

    <div class="row">
        <button class="btn btn-info tooltipped" ng-click="con.destroy()" data-position="bottom" data-delay="20" data-tooltip="Remove bookmark">Remove Bookmark
                &#8194; <i class="icon ion-ios-close"></i>
    </button>
    </div>

    <div class="show-bookmarks">
        <div class="row">
            <h3>My Comment</h3>
            <i ng-if="!(con.isEditing)" class="material-icons tooltipped" ng-click="con.openEdit()" data-position="bottom" data-delay="20"
                data-tooltip="Edit comment">create</i>

            <div ng-show="!(con.isEditing)">
                <div ng-class="{ 'italic': !(con.object.comment) }">
                    {{ con.object.comment ? con.object.comment : "No comment added." }}
                </div>
            </div>
            <div ng-show="con.isEditing" class="input-field">
                <input placeholder="Type here" id="comment" type="text" ng-model="con.object.comment">
            </div>

            <i ng-if="con.isEditing" class="material-icons tooltipped" ng-click="con.updateComment()" data-position="bottom" data-delay="20"
                data-tooltip="Save comment">save</i>
            <i ng-if="con.isEditing" class="material-icons tooltipped" ng-click="con.cancelEdit()" data-position="bottom" data-delay="20"
                data-tooltip="Cancel comment">cancel</i>
        </div>

        <div class="row">
            <div ng-if="con.object.is_visited">
                <!-- <div class="col s7"> -->
                <!-- <div class="valign-wrapper"> -->
                <h3>Visited</h3> <i class="material-icons" ng-click="con.updateVisited()">
                check_box
        </i>
                <!-- </div> -->
                <!-- </div> -->
            </div>
            <div ng-if="!(con.object.is_visited)">
                <!-- <div class="col s7"> -->
                <!-- <div class="valign-wrapper"> -->
                <h3>Visit me</h3> <i class="material-icons" ng-click="con.updateVisited()">
                     check_box_outline_blank
        </i>
                <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
        <!-- check in row -->

    </div>
    <!-- show bookmarks -->

</div>
<!-- isAdded -->




<!-- <div class="row" ng-if="con.isAdded && !(con.isEditing)">
     <button class="btn" ng-click="con.openEdit()"> 
        <i class="material-icons" ng-click="con.openEdit()">create</i>
     </button> 
</div>

<div class="row" ng-if="con.isAdded && con.isEditing">
     <button class="btn" ng-click="con.updateComment()"> 
        <i class="material-icons" ng-click="con.updateComment()">save</i>
     </button> 
</div> -->