<!--for objects use key- value -->
<select ng-model="con.id">
    <option ng-repeat="each in con.list | orderBy: 'name' " value="{{ each.fb_id }}" >
        {{ each.name }}
    </option>
</select>
<hr>

<button class="btn btn-lg btn-info" ng-click="con.select()">
    This button represents CLICKING on the pin
</button> 

</br></br>
<button class="btn btn-lg btn-success" ng-click="con.gothere()">
    This button represents TAKE ME THERE
</button> 


<!-- <button class="btn btn-lg btn-info ui-sref="select( {id: con.selected } )" ">
            Don't need this button
</button>  -->


<!-- 
Old ng-repeat for object

<option ng-repeat=" (key, value) in con.list " value="{{ key }}">
    {{ value["name"] }}
</option>
 -->


